<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>我的博客</title>
    <!-- 引入 Bootstrap CSS -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
    <!-- 导航栏 -->
     <nav class="navbar navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="#">自动化工程师的站点</a>
            <a class="navbar-brand" href="#">博客</a>
            <a class="navbar-brand" href="#">项目</a>
            <a class="navbar-brand" href="#">关于</a>
        </div>
     </nav>

    <!-- 主体内容 -->
     <div class="container mt-5">
        <div class="card">
            <div class="card-body">
                <!-- 项目列表容器 -->
                <div class="container mt-5">
                    <h1>我的技术博客</h1>
                    <hr>
                    {% for post in posts %}
                        <div class="card mb-3">
                            <div class="card-body">
                                <h2 class="card-title"><a href="{% url 'blog:detail' post.slug %}">{{ post.title }}</a></h2>
                                <p class="text-muted">{{ post.created_at|date:"Y-m-d" }} by {{ post.author }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>    
     </div>
</body>
</html>